# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Build and distribution files
dist/
build/
*.zip

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Chrome extension specific
*.crx
*.pem
*.nex

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store 