[submodule "xp/bash-d"]
	path = xp/bash-d
	url = git@github.com:drmingdrmer/bash-d.git
	branch = master
[submodule "xp/appconf"]
	path = xp/appconf
	url = git@github.com:drmingdrmer/appconf.git
	branch = master
[submodule "xp/vcs/github-track"]
	path = xp/vcs/github-track
	url = git@github.com:drmingdrmer/github-track.git
	branch = master
