.DS_Store

/*

!/.gitignore
!/.gitmodules
!/.gitsubrepo

!/.astylerc
!/.bashrc
!/.gdbinit
!/.gdbinit.d
!/.gitshrc
!/.gnomerc
!/.gvimrc
!/.hgrc
!/.mackup
!/.mackup.cfg
!/.multitailrc
!/.profile
!/.screenrc
!/.shbookmark
!/.tmux.conf
!/.vimrc

!/.ssh
/.ssh/*
!/.ssh/config

!/xp
