.DS_Store

/*

!/.gitignore
!/.gitmodules
!/.gitsubrepo

!/.astylerc
!/.bashrc
!/.gitshrc
!/.gnomerc
!/.gvimrc
!/.hgrc
!/.profile
!/.screenrc
!/.shbookmark
!/.tmux.conf
!/.vimrc

!/.ssh
/.ssh/*
!/.ssh/config

!/xp
