
" Config
" https://github.com/JetBrains/ideavim#files

" Find aciotn id:
" https://github.com/JetBrains/ideavim#finding-action-ids

" Set ide/vim handler:
" https://github.com/JetBrains/ideavim/blob/master/doc/sethandler.md

nmap <C-J> <Action>(MoveLineDown)
nmap <C-K> <Action>(MoveLineUp)

nmap <S-J> <Action>(EditorJoinLines)
imap <C-L> <Action>(EditorLineEnd)

vmap Q     <Action>(Grazie.Pro.Structural.Wrap)

" sethandler <C-2> a:vim
" sethandler <C-A> a:vim
" sethandler <C-B> a:vim
sethandler <C-D> a:vim
sethandler <C-E> a:vim
" sethandler <C-F> a:vim
" sethandler <C-H> a:vim
" sethandler <C-I> a:vim
" sethandler <C-J> a:vim
" sethandler <C-K> a:vim
" sethandler <C-L> a:vim
" sethandler <C-M> a:vim
sethandler <C-N> a:vim
sethandler <C-P> a:vim
" sethandler <C-O> a:vim
" sethandler <C-R> a:vim
" sethandler <C-S> a:vim
" sethandler <C-V> a:vim
" sethandler <C-W> a:vim
