#!/usr/bin/env pip install -r

ipython
pyinstaller # build python into binary

asciinema       # command line screen recorder
you-get         # download youtube, youku video

pyflakes
autopep8
autoflake
isort
coveralls
virtualenv
twine           # pip package support
requirements-parser
mypy            # python 3.5+ type hint check
pytest

neovim          # Pynvim implements support for python plugins in Nvim. It also works as a library for connecting to and scripting Nvim processes through its msgpack-rpc API.
clang           # python binding for clang

scapy           # network tool: Manipulate packets

nose

scikit-image    # image processing

semantic_version
psutil
netifaces
termcolor
tzlocal
pytz
docker-py
numpy
kazoo
gevent
redis
PyYAML
astunparse           # convert ast back to source code
pandas                   # python data analysis
yapf                        # python formatter
boto3                       # aws lib
moto                        # mock aws services
poe-api                     # API to access poe.com
pypinyin                    # chinese pinyin
BeautifulSoup4              # scrape information from web pages


azure-cognitiveservices-speech


k3git
k3handy
k3jobq
rich
shfmt-py                   

pymysql

# MySQL-python~=1.2.5

# MySQL-python does not support python3.
# People suggested this:
# https://stackoverflow.com/questions/4960048/how-can-i-connect-to-mysql-in-python-3-on-windows?answertab=votes#tab-top
#
# Doc: https://pymysql.readthedocs.io/en/latest/
PyMySQL~=0.9.3
objgraph~=3.1.0
gevent-websocket~=0.10.1
msgpack~=0.6.1
